.containerBarUtil{
    display: flex;
    justify-content: space-between;
   
    background-color: #4F618F;
    color:#fff;
}


.title{
    font-weight: 900;
}

@media (max-width: 1000px)  {
    .containerBarUtil{
        justify-content: center;
        align-items: center;
        flex-direction: column;
 }
}