.containerBarUtil{
    display: flex;
    justify-content: space-between;
   
    background-color: #4F618F;
    color:#fff;
}
.boxOutros{
    padding: 10px;
    text-align: center;
}
.boxSaldo {
  
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-weight: 900;
}

@media (max-width: 1000px)  {
    .containerBarUtil{
        justify-content: center;
        align-items: center;
        flex-direction: column;
 }
}