.containerCopyright {
    background-color: #061539;
    text-align: center;
    padding: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}

.containerCopyright > a {
    color: #7887AB;
    text-decoration: none;
}
.containerCopyright > a:hover {
    color: #4F618F;
    text-decoration: none;
}