.containerTable {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.table {
    width: 100%;
}


.tr {
    background-color: #4F618F;
    color: #fff;
}



td {
    padding: 5px;
    text-align: center;
}